// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

/*-----------------------------------------------
|   Social Outline Buttons
-----------------------------------------------*/

// Devise 页面按钮
.btn-outline-weixin {
  @include button-outline-variant($weixin);
}

.btn-outline-qq {
  @include button-outline-variant($qq);
}

// devise 页面背景
.bg-auth-card-shape {
  background-image: url(./img/illustrations/half-circle.png);
}

// 个人首页 - 趋势图
#banner {
  .bg-holder {
    background-image: url(./img/illustrations/bg-1.jpg);
    background-position: center bottom;
  }
}

// 个人首页 - 分类统计
.card-deck {
  .card {
    min-width: 12rem;

    &:nth-child(1) {
      .bg-card {
        background-image: url(./img/illustrations/corner-1.png);
      }
    }
    &:nth-child(2) {
      .bg-card {
        background-image: url(./img/illustrations/corner-2.png);
      }
    }
    &:nth-child(3) {
      .bg-card {
        background-image: url(./img/illustrations/corner-3.png);
      }
    }
  }
}

// 自定义提示样式
.toast-container {
  .toast {
    background-color: $gray-200;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0 , 0, 0, .05) !important;
    opacity: 1 !important;
    border: 0 !important;

    .toast-close-button{
      font-size: map_get($font-sizes, 0) !important;
      text-shadow: none;
      font-weight: $font-weight-light !important;
    }

    .toast-progress{
      height: 0.125rem !important;
      background-color: hsla(0, 0%, 100%, .7) !important;
      opacity: 1 !important;
    }
  }
  .toast-success { background-color: #DAFAEB; color: #25D170; }
  .toast-error { background-color: #FBE0E6; color: #DD1E46; }
  .toast-info { background-color: #EAECEF; color: #818B9B; }
  .toast-warning { background-color: #FEECE3; color: #F06B30; }
}